
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {

font-family: 'Bebas Neue', sans-serif;
background-color:rgb(236,200,188) ;
}
h1 {
  font-size: 50px;
}



.header {

border: 20px solid;
text-align: center;
border-radius: 5px;
max-width: 2500px;
max-height: 2500000px;
padding:25px;
margin: 100px auto 15px auto;
background-color: white;
color: pink;
border-color: rgb(188,236,224) ;

}

table {
   margin: auto;
  }

th, td {
    padding: 7px 10px 10px 10px;}

th{
  border-collapse: collapse;

  margin: auto;

  margin-top: 100px;

}


#figure1:hover{

  Background-image: url("images/rabbit1.jpg");
}

#figure1{
  Background-image: url("images/rottie2.jpg");
}

#figure2:hover{

  Background-image: url("images/rabbit2.jpg");
}

  #figure2{
    Background-image: url("images/rottie2.jpg");
  }

#figure3:hover{

      Background-image: url("images/rabbit3.jpg");
  }

  #figure3{
        Background-image: url("images/rottie2.jpg");
  }

#figure4:hover{

          Background-image: url("images/rabbit2.jpg");
}

  #figure4{
          Background-image: url("images/rottie2.jpg");
}

#figure5:hover{

  Background-image: url("images/rabbit4.jpg");
}
#figure5{
        Background-image: url("images/rottie2.jpg");

}
#figure6:hover{

  Background-image: url("images/rabbit5.jpg");
}
#figure6{
         background-image: url("images/rottie2.jpg");
}
#figure7:hover{

  Background-image: url("images/rabbit5.jpg");
}
#figure7{
         background-image: url("images/rottie2.jpg");
}
#figure8:hover{

  background-image:url("images/rabbit3.jpg");
}
#figure8{

background-image:url("images/rottie2.jpg");
  }
#figure9:hover{

background-image:url("images/rabbit1.jpg");
}
#figure9{

background-image: url("images/rottie2.jpg");
}

td>div {
  width:150px;
  height:150px;
  background-size: cover;
}

#form {
  margin:auto;
  width: 50%;
}


/*td {

border: 5px solid black;

}

td:hover{

display: ;
 }

.figure{

position: relative;
 max-width: 100%
}

.figure img.image-hover {
position: absolute;

top: 0;
right: 0;
left: 0;
bottom:0;
object-fit: contain;
opacity: 0;
transition: opacity .25;
}

figure:hover img,image-hover {
      opacity: 1;
